<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нашем салоне косметологии</title>
</head>
<body>
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/about.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'https://fontlibrary.org//face/kaushan-script' %}" type="text/css"/>
    <title>Интернет-магазин косметической продукции</title>
</head>
<body>
    <header>
    <div class="header-one">
        <h1>Aesthetic Beauty</h1>
        <img src="{% static './img/logo.png' %}" alt="Логотип">
    </div>
    <div class="header-two">
        <ul>
            <li><a href="{% url 'Aesthetic Beauty' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">О салоне</a></li>
            <li><a href="#">Услуги</a></li>
        </ul>
    </div>
    </header>
    <script src="{% static 'js/st.js' %}"></script>
</body>
</html>
</body>
</html>